@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Montserrat', sans-serif; */

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background: #363883;
}

/* HEADER STYLES */

#header {
  position: relative;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(19, 52, 168, 1) 0%,
    rgba(215, 120, 111, 1) 100%
  );
}

/* MAIN NAVIGATION STYLES */

.main-nav {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.nav-ul {
  display: flex;
  margin: 30px 0;
  padding: 0;
}

.nav-link {
  margin: 0 35px;
  font-size: 21px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}

/* MOBILE NAV STYLES*/

.mobile-nav {
  display: none;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 30px 30px 0 0;
}

.hamburger-menu {
  display: none;
  position: relative;
  flex-direction: column;
}

.ham-line {
  display: block;
  height: 4px;
  width: 40px;
  margin: 3px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

.mobile-nav-ul {
  position: absolute;
  display: none;
  flex-direction: column;
  margin: 50px 0 0 0;
  padding: 20px 30px;
  background: rgba(27, 29, 104, 1);
  z-index: 2;
  border-radius: 10px;
}

.mobile-nav-li {
  margin: 10px 0;
}

.mobile-nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  text-transform: uppercase;
}

/* HEADING STYLES */

.heading-wrapper {
  position: relative;
}

.main-heading {
  margin-top: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: white;
  font-weight: 900;
}

.sub-heading {
  position: absolute;
  left: 50%;
  top: 235px;
  transform: translate(-50%);
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}

.heading-btn-wrapper {
  position: absolute;
  left: 50%;
  top: 320px;
  transform: translate(-50%);
  display: flex;
  z-index: 1;
}

.heading-btn {
  background: none;
  border-radius: 20px;
  padding: 12px 30px;
  margin: 0px 20px;
  width: 260px;
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-black {
  background: #363883;
  border: 1px solid rgba(54, 56, 131, 0.3);
}

/* HEADER BACKGROUND STYLES */

.bg-shapes-wrapper {
  position: relative;
  width: 1300px;
  margin: 0 auto;
}

.bg-shape__circle-xxl {
  display: block;
  position: absolute;
  right: -100px;
  top: 300px;
  border-radius: 50%;
  width: 475px;
  height: 475px;
  background: rgb(255, 255, 255, 0.1);
}

.bg-shape__circle-xl {
  display: block;
  position: absolute;
  left: 0;
  top: -30px;
  border-radius: 50%;
  width: 475px;
  height: 475px;
  background: rgb(255, 255, 255, 0.1);
}

.bg-shape__circle-md {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 305px;
  border-radius: 50%;
  background: rgba(73, 56, 158);
}

.bg-shape__circle-s {
  display: block;
  width: 175px;
  height: 175px;
  position: absolute;
  left: 300px;
  top: 370px;
  border-radius: 50%;
  background: rgba(73, 56, 158, 0.9);
}

/* MAIN STYLES */

#main {
  margin: 0 auto;
  width: 1300px;
}

/* SPECIAL SECTION STYLES */

.special {
  padding: 70px 60px 0 60px;
}

.special-introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 70px;
}

.special-heading-wrapper {
  width: 35%;
}

.special-heading {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0 0 30px 0;
  font-weight: 800;
}

.speacial-sub-heading {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
}

.fa-long-arrow-alt-right {
  margin: 4px 0 0 30px;
  font-size: 35px;
}

.special-description {
  display: flex;
  align-items: center;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  width: 40%;
  line-height: 1.6;
  text-align: left;
}

/* SPECIAL SERVICES STYLES */

.special-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0 0 0;
  position: relative;
  height: 560px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 50px 20px 310px 20px;
  background: linear-gradient(
    180deg,
    rgba(54, 56, 131, 1) 0%,
    rgba(50, 51, 116, 1) 100%
  );
  margin: 0 5px;
  position: absolute;
  z-index: -1;
}

.icon-wrapper {
  position: relative;
}

.white-circle {
  display: block;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0px 0px 3px 0px #000, 0px 10px 50px 0px #000;
}

.black-circle {
  display: block;
  position: absolute;
  top: -30px;
  width: 60px;
  height: 60px;
  background: linear-gradient(
    180deg,
    rgba(44, 45, 116, 1) 0%,
    rgba(24, 24, 64, 1) 100%
  );
  border-radius: 50%;
  box-shadow: 0px 0px 30px 0px #1b1d68;
}

.card-left {
  left: 10%;
}

.card-right {
  right: 10%;
}

.left {
  left: -30px;
}

.middle {
  top: -35px;
}

.right {
  right: -30px;
}

.card-heading {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin: 30px 0 15px 0;
  line-height: 1.2;
  letter-spacing: 2px;
  width: 80%;
  font-weight: 800;
}

.card-text {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 19px;
}

.fa-bolt,
.fa-play,
.fa-sync-alt {
  color: white;
  font-size: 25px;
  position: relative;
  right: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 0px 5px rgba(150, 150, 150, 0.8);
}

/* RAISE STYLES */

.raised {
  position: relative;
  background: white;
  border-top-right-radius: 500px;
}

.raised-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0 50px 225px;
}

.raised-heading,
.work-heading {
  color: #464975;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
}

.raised-text,
.work-text {
  display: flex;
  align-items: center;
  font-size: 27px;
  color: rgba(70, 73, 117, 0.7);
  line-height: 1.6;
  text-align: left;
  width: 75%;
}

.work-text {
  width: 100%;
}

.interests {
  display: flex;
  flex-direction: column;
  padding: 0 0 80px 225px;
}

.interests-heading {
  color: #464975;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
}

.interests-icons-wrapper {
  display: flex;
  margin: 30px 0;
}

.interests-icons-wrapper i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  font-size: 50px;
  margin: 0 30px;
  color: rgba(27, 33, 121, 0.7);
  border: 2px solid rgba(27, 33, 121, 0.7);
  border-radius: 50%;
  margin: 0 0 25px 0;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.icon-text {
  margin: 0;
  color: rgba(27, 33, 121, 0.7);
  font-weight: 600;
}

/* PROJECTS STYLES */

.projects {
  position: relative;
  padding-bottom: 75px;
}

.main-board {
  position: relative;
  z-index: 1;
  background: linear-gradient(
    170deg,
    rgba(231, 236, 240, 1) 0%,
    rgba(215, 219, 230, 1) 60%,
    rgba(178, 181, 205, 1) 100%
  );
  height: 450px;
  width: 970px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -10px 8px 24px -8px rgba(83, 83, 83, 0.7);
}

.main-board-borders {
  display: block;
  height: 456px;
  width: 973px;
  position: absolute;
  top: -3px;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(231, 236, 240) 0%,
    rgb(193, 193, 193) 100%
  );
}

.side-board {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 280px;
  width: 200px;
  background: #373682;
  padding: 15px 20px;
  border-radius: 8px;
}

.side-board-project-details {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5;
}

.side-board-read-more {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.project-details {
  position: absolute;
  right: 40px;
  top: 265px;
  width: 235px;
}

.project-name {
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  font-weight: 900;
}

.project-description {
  color: white;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
}

.projects-nav {
  position: absolute;
  top: 22px;
  right: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-up,
.fa-angle-down {
  margin: 10px 0;
  color: darkgray;
  font-size: 18px;
}

/* DEMO CIRCLE STYLE */

.fa-circle {
  font-size: 10px;
  margin: 5px 0;
  color: lightgray;
}

.fa-circle:nth-child(2) {
  color: #373682;
}

/* WORK WITH US STYLES */

.work-with-us {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 75px;
}

.heading-sub-wrapper {
  width: 450px;
  margin-right: 200px;
}

.work-heading {
  margin: 0 0 20px 0;
}

.work-email-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border: 2px solid rgba(55, 54, 130, 0.6);
}

.work-email {
  color: rgba(55, 54, 130, 1);
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 15px;
}

.fa-envelope {
  font-size: 30px;
  color: rgba(55, 54, 130, 1);
}

/* REP CARD STYLES */

.card-outter {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 402px;
  height: 254px;
  background: linear-gradient(
    90deg,
    rgb(231, 236, 240) 0%,
    rgb(193, 193, 193) 100%
  );
  box-shadow: 10px 8px 24px -8px rgba(83, 83, 83, 0.7);
}

.card-inner {
  position: relative;
  top: 2px;
  right: -2px;
  width: 400px;
  height: 250px;
  background: linear-gradient(
    90deg,
    rgb(238, 242, 242, 1) 0%,
    rgb(255, 255, 255) 100%
  );
  padding: 100px 0 0 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-name {
  color: #464975;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
  margin: 0 0 10px 0;
}

.card-job-title {
  color: rgba(70, 73, 117, 0.7);
  font-weight: 500;
}

/* LET'S CONNECT STYLES */

.lets-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 150px 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(50, 65, 125, 1) 0%,
    rgba(108, 125, 173, 1) 100%
  );
}

.lets-connect__heading {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 15px 0;
  font-weight: 900;
}

.lets-connect__post-heading {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  text-align: center;
  width: 45%;
  line-height: 2;
}

.lets-connect__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.lets-connect__form {
  margin-left: 150px;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.control-label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.control-input {
  padding: 10px 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 400px;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.lets-connect__submit-btn {
  background: #21254a;
  padding: 10px 0;
  width: 250px;
  border: none;
  border-radius: 18px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
}

.map-location {
  object-fit: cover;
  width: 600px;
  height: 450px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: -10px 8px 24px -8px rgba(0, 0, 0, 0.7);
}

/* FOOTER STYLES */

footer {
  display: flex;
  width: 1300px;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0;
  background: #292a57;
  position: relative;
  border-top: 2px solid rgba(117, 130, 185, 0.8);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.rights {
  color: rgba(255, 255, 255, 0.7);
}

.footer-link {
  margin: 0 35px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}

.social-network-contacts {
  display: flex;
  position: absolute;
  right: 50px;
}

.social-network-contacts i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 20px;
}

/* 1300px */

@media screen and (max-width: 1300px) {
  .main-nav {
    width: 900px;
  }

  .main-heading {
    font-size: 85px;
    line-height: 1.2;
  }

  .sub-heading {
    font-size: 14px;
  }

  .heading-btn-wrapper {
    top: 310px;
  }

  .heading-btn {
    width: 240px;
  }

  .bg-shapes-wrapper {
    width: 900px;
  }

  .bg-shape__circle-xxl {
    width: 400px;
    height: 400px;
    right: -75px;
  }

  .bg-shape__circle-xl {
    width: 400px;
    height: 400px;
    top: 50px;
  }

  .bg-shape__circle-md {
    width: 150px;
    height: 150px;
    top: 340px;
  }

  .bg-shape__circle-s {
    width: 125px;
    height: 125px;
    left: 260px;
    background: rgba(73, 56, 158, 0.8);
  }

  #main {
    width: 900px;
  }

  .special {
    padding: 70px 0 0 0;
  }

  .special-introduction {
    align-items: flex-start;
  }

  .special-heading {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .speacial-sub-heading {
    margin-top: 0;
  }

  .special-description {
    width: 60%;
    font-size: 20px;
  }

  .card-heading {
    width: 100%;
    font-size: 22px;
  }

  .card-text {
    font-size: 18px;
    margin: 10px 0 0 0;
  }

  .card-left {
    left: 10%;
  }

  .card-right {
    right: 10%;
  }

  .raised {
    border-top-right-radius: 290px;
  }

  .raised-wrapper {
    padding: 30px 0 30px 30px;
  }

  .raised-heading {
    font-size: 35px;
  }

  .raised-text {
    font-size: 23px;
    margin-top: 0;
  }

  .interests {
    padding: 0 0 80px 30px;
  }

  .icon-wrapper {
    margin: 0 20px;
  }

  .interests-icons-wrapper i {
    width: 95px;
    height: 95px;
    font-size: 35px;
  }

  .main-board-borders {
    width: 734px;
    height: 376px;
    top: -3px;
  }

  .main-board {
    width: 730px;
    height: 370px;
  }

  .side-board {
    right: 125px;
    width: 175px;
    padding: 10px 15px;
  }

  .side-board-project-details {
    font-size: 16px;
    line-height: 1.3;
  }

  .projects-nav {
    right: 70px;
    top: 13px;
  }

  .project-details {
    right: 20px;
    top: 210px;
  }

  .project-name {
    font-size: 23px;
  }

  .project-description {
    font-size: 13px;
    font-weight: 600;
  }

  .heading-sub-wrapper {
    margin-right: 0;
  }

  .work-with-us {
    justify-content: space-between;
    padding-left: 30px;
  }

  .work-heading {
    font-size: 35px;
  }

  .work-text {
    font-size: 23px;
  }

  .card-outter {
    width: 375px;
    height: 219px;
  }

  .card-inner {
    right: -2px;
    width: 373px;
    height: 215px;
  }

  .card-name {
    font-size: 20px;
  }

  .card-job-title {
    font-size: 14px;
  }

  .work-email-wrapper {
    margin-top: 40px;
    padding: 10px 0;
  }

  .work-email {
    font-size: 16px;
  }

  .lets-connect__heading {
    font-size: 35px;
  }

  .lets-connect__post-heading {
    width: 61%;
  }

  .map-location {
    width: 525px;
    height: 340px;
  }

  .lets-connect__form {
    margin-left: 50px;
    margin-right: 30px;
  }

  .control-input {
    font-size: 18px;
  }

  footer {
    width: 900px;
  }

  .social-network-contacts {
    right: 0px;
    top: 90px;
  }

  .social-network-contacts i {
    font-size: 20px;
    margin: 0 15px;
  }
}

/* 900px */

@media screen and (max-width: 900px) {
  #header {
    height: 450px;
  }

  .main-nav {
    width: 720px;
  }

  .nav-link {
    margin: 0 30px;
    font-size: 18px;
  }

  .main-heading {
    font-size: 75px;
    line-height: 1.1;
  }

  .sub-heading {
    top: 210px;
  }

  .heading-btn-wrapper {
    top: 270px;
  }

  .heading-btn {
    width: 205px;
    font-weight: 600;
  }

  .bg-shapes-wrapper {
    width: 720px;
  }

  .bg-shape__circle-xxl {
    width: 350px;
    height: 350px;
    right: -95px;
    top: 235px;
  }

  .bg-shape__circle-xl {
    width: 350px;
    height: 350px;
    top: 120px;
  }

  .bg-shape__circle-md {
    width: 130px;
    height: 130px;
    top: 290px;
  }

  .bg-shape__circle-s {
    top: 335px;
    left: 250px;
  }

  #main {
    width: 720px;
  }

  .special-services {
    height: 500px;
  }

  .special-introduction {
    justify-content: space-between;
  }

  .special-heading {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .special-description {
    font-size: 18px;
  }

  .card-heading {
    font-size: 20px;
  }

  .special-services {
    height: 460px;
  }

  .service-card {
    padding: 25px 15px 310px 15px;
  }

  .raised {
    border-top-right-radius: 240px;
  }

  .raised-heading {
    font-size: 30px;
  }

  .raised-text {
    width: 85%;
    font-size: 20px;
  }

  .interests-heading {
    font-size: 22px;
  }

  .interests-icons-wrapper i {
    width: 75px;
    height: 75px;
    font-size: 30px;
  }

  .main-board {
    width: 612px;
    height: 336px;
  }

  .main-board-borders {
    width: 615px;
    height: 340px;
    top: -2px;
  }

  .side-board {
    right: 65px;
  }

  .projects-nav {
    right: 25px;
  }

  .project-name {
    font-size: 20px;
  }

  .project-description {
    font-size: 14px;
  }

  .work-heading {
    font-size: 30px;
  }

  .work-text {
    font-size: 20px;
  }

  .work-email-wrapper {
    margin-top: 45px;
  }

  .card-outter {
    width: 305px;
    height: 200px;
  }

  .card-inner {
    right: -2px;
    width: 303px;
    height: 196px;
    padding: 120px 0 0 35px;
  }

  .lets-connect__heading {
    font-size: 30px;
  }

  .lets-connect__post-heading {
    width: 85%;
  }

  .control-input {
    width: 310px;
  }

  .lets-connect__submit-btn {
    width: 200px;
  }

  footer {
    width: 720px;
  }

  .social-network-contacts i {
    font-size: 23px;
  }
}

/* 720px */

@media screen and (max-width: 720px) {
  .main-nav {
    width: 560px;
  }

  .nav-link {
    margin: 0 20px;
  }

  .main-heading {
    font-size: 70px;
  }

  .sub-heading {
    top: 190px;
  }

  .heading-btn-wrapper {
    top: 255px;
  }

  .bg-shapes-wrapper {
    width: 560px;
  }

  .bg-shape__circle-xxl {
    width: 275px;
    height: 275px;
    right: -155px;
    top: 285px;
  }

  .bg-shape__circle-xl {
    left: -75px;
  }

  .bg-shape__circle-md {
    width: 100px;
    height: 100px;
    top: 320px;
    left: -30px;
  }

  .bg-shape__circle-s {
    top: 315px;
    left: 190px;
  }

  #main {
    width: 560px;
  }

  .special-introduction {
    padding: 0 10px 70px 10px;
  }

  .special-heading-wrapper {
    width: 25%;
  }

  .special-heading {
    font-size: 25px;
  }

  .speacial-sub-heading {
    position: relative;
    font-size: 20px;
  }

  .fa-long-arrow-alt-right {
    position: absolute;
    right: -30px;
  }

  .special-services {
    height: 425px;
  }

  .special-description {
    font-size: 20px;
  }

  .service-card {
    width: 30%;
  }

  .card-text {
    font-size: 17px;
  }

  .card-left {
    left: 2%;
  }

  .card-right {
    right: 2%;
  }

  .raised {
    border-top-right-radius: 120px;
  }

  .raised-heading {
    font-size: 28px;
  }

  .interests {
    padding: 0px 0 40px 30px;
  }

  .icon-text {
    text-align: center;
  }

  .main-board-borders {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .main-board {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .side-board {
    right: 10px;
    width: 145px;
    padding: 10px 10px;
  }

  .projects {
    padding-bottom: 120px;
  }

  .project-name {
    font-size: 22px;
  }

  .project-description {
    font-size: 15px;
  }

  .projects-nav {
    margin: 20px;
    right: 70px;
    top: 345px;
    flex-direction: row;
  }

  .fa-circle {
    font-size: 10px;
    margin: 0 15px;
  }

  .fa-angle-up,
  .fa-angle-down {
    transform: rotate(-90deg);
    font-size: 22px;
  }

  .heading-sub-wrapper {
    position: relative;
  }

  .work-with-us {
    flex-direction: column;
    padding-bottom: 120px;
  }

  .work-heading {
    font-size: 28px;
  }

  .work-email-wrapper {
    position: absolute;
    margin: 0;
    width: 79%;
    top: 455px;
    right: -80px;
    border-right: none;
  }

  .rep-card {
    position: relative;
    right: -175px;
    top: 0px;
    width: 355px;
  }

  .card-outter {
    width: 355px;
    height: 216px;
  }

  .card-inner {
    width: 353px;
    height: 212px;
  }

  .lets-connect {
    padding: 40px 0 100px 0;
  }

  .lets-connect__heading {
    font-size: 28px;
  }

  .lets-connect__post-heading {
    width: 95%;
  }

  .lets-connect__content {
    flex-direction: column;
    margin-top: 75px;
  }

  .lets-connect__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
  }

  .control-label {
    font-size: 18px;
  }

  .control-input {
    width: 450px;
    font-size: 20px;
    padding: 12px 10px;
  }

  .lets-connect__submit-btn {
    width: 60%;
  }

  .map-location {
    order: 1;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.7);
  }

  footer {
    width: 560px;
  }

  .social-network-contacts {
    right: 50%;
    top: -60px;
    transform: translate(50%);
  }

  .social-network-contacts i {
    font-size: 35px;
    margin: 0 20px;
  }

  .rights {
    margin-top: 30px;
  }
}

/* 430px */

@media screen and (max-width: 560px) {
  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 30px 30px 0 0;
  }

  .hamburger-menu {
    display: flex;
  }

  .main-heading {
    font-size: 60px;
    margin-top: 20px;
  }

  .sub-heading {
    top: 170px;
    width: 75%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  .heading-btn-wrapper {
    top: 230px;
    display: flex;
    flex-direction: column;
  }

  .heading-btn {
    width: 300px;
    margin: 10px 0;
  }

  .bg-shapes-wrapper {
    width: 430px;
  }

  .bg-shape__circle-xxl {
    width: 200px;
    height: 200px;
    right: -102px;
    top: 190px;
  }

  .bg-shape__circle-xl {
    width: 245px;
    height: 245px;
    top: 245px;
    left: -30px;
  }

  .bg-shape__circle-md {
    width: 75px;
    height: 75px;
    top: 350px;
    left: 10px;
  }

  .bg-shape__circle-s {
    width: 110px;
    height: 110px;
    top: 355px;
    left: 165px;
  }

  #main {
    width: 430px;
  }

  .special {
    padding: 30px 0 0 0;
  }

  .special-introduction {
    padding: 0 15px 70px 15px;
    flex-direction: column;
  }

  .special-heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .special-heading {
    width: 95%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
  }

  .fa-long-arrow-alt-right {
    display: none;
  }

  .speacial-sub-heading {
    font-size: 20px;
  }

  .special-description {
    width: 100%;
    font-size: 22px;
    line-height: 1.5;
    text-align: start;
  }

  .special-services {
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 0;
    position: relative;
    height: 100%;
  }

  .service-card {
    width: 80%;
    position: relative;
  }

  .card-left,
  .card-middle,
  .card-right {
    right: 0;
    left: 0;
    padding: 25px 15px 70px 15px;
    margin: 20px 0;
    margin: 25px auto;
    border-radius: 10px;
  }

  .card-heading {
    font-size: 25px;
    text-align: center;
  }

  .card-text {
    font-size: 20px;
  }

  .raised {
    border-top-right-radius: 0;
  }

  .raised-wrapper {
    padding: 30px;
  }

  .raised-heading {
    font-size: 30px;
    margin-top: 10px;
  }

  .raised-text {
    width: 100%;
    font-size: 20px;
  }

  .interests {
    padding: 0px 30px 30px 30px;
  }

  .interests-heading {
    font-size: 20px;
  }

  .interests-icons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .icon-wrapper {
    margin: 20px;
  }

  .side-board {
    display: none;
  }

  .projects-nav {
    margin: 20px auto;
    right: 50%;
    transform: translate(50%);
  }

  .fa-angle-up,
  .fa-angle-down {
    font-size: 50px;
  }

  .fa-circle {
    font-size: 15px;
  }

  .work-with-us {
    flex-direction: column;
    padding: 0 30px 200px 30px;
  }

  .work-heading {
    font-size: 30px;
  }

  .heading-sub-wrapper {
    width: 100%;
  }

  .rep-card {
    position: relative;
    right: -45px;
    top: 15px;
    width: 355px;
  }

  .work-email-wrapper {
    width: 355px;
    right: -30px;
    top: 490px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .lets-connect {
    padding: 40px 15px 100px 15px;
  }

  .lets-connect__heading {
    font-size: 30px;
  }

  .lets-connect__post-heading {
    width: 100%;
    font-weight: 500;
  }

  .lets-connect__content {
    margin-top: 60px;
  }

  .lets-connect__form {
    margin: 0 0 50px 0;
  }

  .control-input {
    width: 350px;
  }

  footer {
    width: 430px;
  }

  .footer-link {
    margin: 0 20px;
  }
}
