@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

/* font-family: 'Roboto Condensed', sans-serif; */

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: 0;
  background: #363883;
}

/* HEADER STYLES */

#header {
  position: relative;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(19, 52, 168, 1) 0%,
    rgba(215, 120, 111, 1) 100%
  );
}

/* MAIN NAVIGATION STYLES */

.main-nav {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.nav-ul {
  display: flex;
  margin: 30px 0;
  padding: 0;
}

.nav-link {
  margin: 0 35px;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}

/* HEADING STYLES */

.heading-wrapper {
  position: relative;
}

.main-heading {
  margin-top: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: "Karla", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1;
  color: white;
  text-align: left;
  width: 620px;
  text-shadow: -2px 1px 3px rgba(221, 221, 221, 0.3);
}

.indented {
  margin: 0;
  text-indent: 45px;
  text-shadow: -2px 1px 3px rgba(221, 221, 221, 0.3);
}

.sub-heading {
  position: absolute;
  left: 50%;
  top: 235px;
  transform: translate(-50%);
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}

.heading-btn-wrapper {
  position: absolute;
  left: 50%;
  top: 320px;
  transform: translate(-50%);
  display: flex;
  z-index: 1;
}

.heading-btn {
  background: none;
  border-radius: 20px;
  padding: 12px 30px;
  margin: 0px 20px;
  width: 260px;
  font-size: 12px;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-black {
  background: #363883;
  border: 1px solid rgba(54, 56, 131, 0.3);
}

/* HEADER BACKGROUND STYLES */

.bg-shapes-wrapper {
  position: relative;
  width: 1300px;
  margin: 0 auto;
}

.bg-shape__circle-xxl {
  display: block;
  position: absolute;
  right: -100px;
  top: 300px;
  border-radius: 50%;
  width: 475px;
  height: 475px;
  background: rgb(255, 255, 255, 0.1);
}

.bg-shape__circle-xl {
  display: block;
  position: absolute;
  left: 0;
  top: -30px;
  border-radius: 50%;
  width: 475px;
  height: 475px;
  background: rgb(255, 255, 255, 0.1);
}

.bg-shape__circle-md {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 305px;
  border-radius: 50%;
  background: rgba(73, 56, 158);
}

.bg-shape__circle-s {
  display: block;
  width: 175px;
  height: 175px;
  position: absolute;
  left: 300px;
  top: 370px;
  border-radius: 50%;
  background: rgba(73, 56, 158, 0.9);
}

/* MAIN STYLES */

#main {
  margin: 0 auto;
  width: 1300px;
}

/* SPECIAL SECTION STYLES */

.special {
  padding: 70px 60px 0 60px;
}

.special-introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 70px;
}

.special-heading-wrapper {
  width: 35%;
}

.special-heading {
  color: white;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-size: 50px;
  margin: 0 0 30px 0;
}

.speacial-sub-heading {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
}

.fa-long-arrow-alt-right {
  margin: 4px 0 0 30px;
  font-size: 35px;
}

.special-description {
  display: flex;
  align-items: center;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  width: 40%;
  line-height: 1.4;
  text-align: left;
}

/* SPECIAL SERVICES STYLES */

.special-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0 0 0;
  position: relative;
  height: 560px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 50px 20px 310px 20px;
  background: linear-gradient(
    180deg,
    rgba(54, 56, 131, 1) 0%,
    rgba(50, 51, 116, 1) 100%
  );
  margin: 0 5px;
  position: absolute;
  z-index: -1;
}

.icon-wrapper {
  position: relative;
}

.white-circle {
  display: block;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0px 0px 3px 0px #000, 0px 10px 50px 0px #000;
}

.black-circle {
  display: block;
  position: absolute;
  top: -30px;
  width: 60px;
  height: 60px;
  background: linear-gradient(
    180deg,
    rgba(44, 45, 116, 1) 0%,
    rgba(24, 24, 64, 1) 100%
  );
  border-radius: 50%;
  box-shadow: 0px 0px 30px 0px #1b1d68;
}

.card-left {
  left: 10%;
}

.card-right {
  right: 10%;
}

.left {
  right: 30px;
}

.middle {
  left: -5px;
  top: -35px;
}

.right {
  right: -30px;
}

.card-heading {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin: 30px 0 15px 0;
  line-height: 1.2;
  letter-spacing: 2px;
}

.card-text {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.7;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 19px;
}

.fa-bolt,
.fa-play,
.fa-sync-alt {
  color: white;
  font-size: 25px;
  position: relative;
  right: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 0px 5px rgba(150, 150, 150, 0.8);
}

/* RAISE STYLES */

.raised {
  position: relative;
  background: white;
  border-top-right-radius: 500px;
}

.raised-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0 50px 225px;
}

.raised-heading,
.work-heading {
  color: #464975;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
}

.raised-text,
.work-text {
  display: flex;
  align-items: center;
  font-size: 26px;
  color: rgba(70, 73, 117, 0.7);
  line-height: 1.4;
  text-align: left;
  width: 70%;
}

.work-text {
  width: 100%;
}

.interests {
  display: flex;
  flex-direction: column;
  padding: 0 0 80px 225px;
}

.interests-heading {
  color: #464975;
  text-transform: uppercase;
  font-size: 20px;
}

.interests-icons-wrapper {
  display: flex;
  margin: 30px 0;
}

.interests-icons-wrapper i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  font-size: 50px;
  margin: 0 30px;
  color: rgba(27, 33, 121, 0.7);
  border: 2px solid rgba(27, 33, 121, 0.7);
  border-radius: 50%;
  margin: 0 0 25px 0;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.icon-text {
  margin: 0;
  color: rgba(27, 33, 121, 0.7);
}

/* PROJECTS STYLES */

.projects {
  position: relative;
  padding-bottom: 75px;
}

.main-board {
  position: relative;
  z-index: 1;
  background: linear-gradient(
    170deg,
    rgba(231, 236, 240, 1) 0%,
    rgba(215, 219, 230, 1) 60%,
    rgba(178, 181, 205, 1) 100%
  );
  height: 450px;
  width: 970px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -10px 8px 24px -8px rgba(83, 83, 83, 0.7);
}

.main-board-borders {
  display: block;
  height: 456px;
  width: 973px;
  position: absolute;
  top: -3px;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(231, 236, 240) 0%,
    rgb(193, 193, 193) 100%
  );
}

.side-board {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 280px;
  width: 200px;
  background: #373682;
  padding: 15px 20px;
  border-radius: 8px;
}

.side-board-project-details {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5;
}

.side-board-read-more {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.project-details {
  position: absolute;
  right: 40px;
  top: 265px;
  width: 235px;
}

.project-name {
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.project-description {
  color: white;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
}

.projects-nav {
  position: absolute;
  top: 22px;
  right: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-up,
.fa-angle-down {
  margin: 10px 0;
  color: darkgray;
  font-size: 18px;
}

/* DEMO CIRCLE STYLE */

.fa-circle {
  font-size: 10px;
  margin: 5px 0;
  color: lightgray;
}

.fa-circle:nth-child(2) {
  color: #373682;
}

/* WORK WITH US STYLES */

.work-with-us {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 75px;
}

.heading-sub-wrapper {
  width: 450px;
  margin-right: 200px;
}

.work-heading {
  margin: 0 0 20px 0;
}

.work-email-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  padding: 15px 20px;
  border: 2px solid lightgray;
}

.work-email {
  color: #373682;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 15px;
}

.fa-envelope {
  font-size: 30px;
}

/* REP CARD STYLES */

.card-outter {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 402px;
  height: 254px;
  background: linear-gradient(
    90deg,
    rgb(231, 236, 240) 0%,
    rgb(193, 193, 193) 100%
  );
  box-shadow: 10px 8px 24px -8px rgba(83, 83, 83, 0.7);
}

.card-inner {
  position: relative;
  top: 2px;
  right: -2px;
  width: 400px;
  height: 250px;
  background: linear-gradient(
    90deg,
    rgb(238, 242, 242, 1) 0%,
    rgb(255, 255, 255) 100%
  );
  padding: 100px 0 0 30px;
}

.card-name {
  color: #464975;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  margin: 0 0 10px 0;
}

.card-job-title {
  color: rgba(70, 73, 117, 0.7);
}

.lets-connect {
  width: 100%;
  height: 900px;
  background: linear-gradient(
    180deg,
    rgba(50, 65, 125, 1) 0%,
    rgba(108, 125, 173, 1) 100%
  );
}

/* LET'S CONNECT STYLES */

.lets-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0 0;
}

.lets-connect__heading {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 15px 0;
}

.lets-connect__post-heading {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  text-align: center;
  width: 45%;
  line-height: 1.5;
}

.lets-connect__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.lets-connect__form {
  margin-left: 150px;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.control-label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.control-input {
  padding: 10px 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 400px;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.lets-connect__submit-btn {
  background: #21254a;
  padding: 10px 0;
  width: 250px;
  border: none;
  border-radius: 18px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
}

.map-location {
  object-fit: cover;
  width: 600px;
  height: 450px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: -10px 8px 24px -8px rgba(0, 0, 0, 0.7);
}

/* FOOTER STYLES */

footer {
  margin: 0 auto;
  background: #292a57;
  height: 200px;
  width: 1300px;
}
