.main-nav {
  width: 900px;
}

.bg-shapes-wrapper {
  width: 1100px;
}

#main {
  width: 1100px;
}

.special-heading {
  font-size: 45px;
}

.special-description {
  font-size: 23px;
}

footer {
  width: 1100px;
}