.main-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 30px 30px 0 0;
}

.hamburger-menu {
  display: flex;
}

.main-heading {
  font-size: 60px;
  margin-top: 20px;
}

.sub-heading {
  top: 170px;
  width: 75%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.heading-btn-wrapper {
  top: 230px;
  display: flex;
  flex-direction: column;
}

.heading-btn {
  width: 300px;
  margin: 10px 0;
}

.bg-shapes-wrapper {
  width: 430px;
}

.bg-shape__circle-xxl {
  width: 200px;
  height: 200px;
  right: -102px;
  top: 190px;
}

.bg-shape__circle-xl {
  width: 245px;
  height: 245px;
  top: 245px;
  left: -30px;
}

.bg-shape__circle-md {
  width: 75px;
  height: 75px;
  top: 350px;
  left: 10px;
}

.bg-shape__circle-s {
  width: 110px;
  height: 110px;
  top: 355px;
  left: 165px;
}

#main {
  width: 100%;
}

/* SPECIAL STYLES */

.special {
  flex-direction: column;
}

.special-heading {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.special-description {
  width: 100%;
  font-size: 21px;
  line-height: 1.5;
  text-align: center;
}

/* SERVICES STYLES */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  height: 100%;
}

.service-card__left,
.service-card__middle,
.service-card__right {
  position: relative;
  width: 70%;
  right: 0;
  left: 0;
  padding: 25px 0;
  margin: 25px auto;
  border-radius: 10px;
}

.service-card__icon-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  width: 40%;
}

.left {
  left: auto;
}

.right {
  right: auto;
}

.service-card__heading {
  font-size: 25px;
  text-align: center;
}

.service-card__text {
  font-size: 20px;
}

/* RAISED STYLES */

.white-section {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.raised-heading {
  font-size: 30px;
  margin-top: 10px;
}

.raised-text {
  width: 100%;
  font-size: 21px;
}

/* VALUES STYLES */

.values__heading {
  font-size: 20px;
}

.values__icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.value__icon-wrapper {
  margin: 20px 15px;
}

/* PROJECTS STYLES */

.projects__project-details {
  right: 3%;
}

.projects__side-board {
  display: none;
}

.fa-circle {
  font-size: 15px;
}

/* TEAM MEMBERS STYLES */

.team-members__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.team-members__heading {
  font-size: 30px;
}

.team-members__text {
  font-size: 21px;
  line-height: 1.4;
  padding: 0 15px;
}

.team-members__email-wrapper {
  width: 90%;
}

.rep-card {
  position: relative;
  right: -45px;
  top: 15px;
  width: 355px;
}

/* LET'S CONNECT STYLES */

.lets-connect {
  padding: 40px 15px 100px 15px;
}

.lets-connect__heading {
  font-size: 30px;
}

.lets-connect__sub-heading {
  width: 97%;
}

.lets-connect__content {
  margin-top: 60px;
}

.lets-connect__form {
  margin: 0 0 50px 0;
}

.control-input {
  width: 350px;
}

/* FOOTER STYLES */

footer {
  width: 100%;
}

.footer-link {
  margin: 0 20px;
}
