#header {
  height: 450px;
}

.main-nav {
  width: 720px;
}

.nav-link {
  margin: 0 30px;
  font-size: 18px;
}

.main-heading {
  font-size: 75px;
  line-height: 1.1;
}

.sub-heading {
  top: 210px;
}

.heading-btn-wrapper {
  top: 270px;
}

.heading-btn {
  width: 205px;
  font-weight: 600;
}

.bg-shapes-wrapper {
  width: 720px;
}

.bg-shape__circle-xxl {
  width: 350px;
  height: 350px;
  right: -95px;
  top: 235px;
}

.bg-shape__circle-xl {
  width: 350px;
  height: 350px;
  top: 120px;
}

.bg-shape__circle-md {
  width: 130px;
  height: 130px;
  top: 290px;
}

.bg-shape__circle-s {
  top: 335px;
  left: 250px;
}

#main {
  width: 100%;
}

/* SPECIAL STYLES */

.special-heading {
  font-size: 30px;
  margin-bottom: 30px;
  width: 30%;
}

.special-description {
  font-size: 20px;
}

/* SERVICES STYLES */

.service-card__heading {
  font-size: 22px;
}

.service-card {
  padding: 25px 0 310px 0;
}

/* RAISED STYLES */

.white-section {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.raised-heading {
  font-size: 30px;
}

.raised-text {
  width: 85%;
  font-size: 20px;
}

/* VALUES STYLES */

.values__heading {
  font-size: 22px;
}

.value__icon-wrapper i {
  width: 75px;
  height: 75px;
  font-size: 30px;
}

/* PROJECTS STYLES */

.projects__name {
  font-size: 20px;
}

.projects__description {
  font-size: 14px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 22px;
  margin: 0 18px;
}

.fa-circle {
  font-size: 15px;
  margin: 0px 15px;
}

/* TEAM MEMBERS STYLES */

.team-members__details {
  width: 45%;
}

.team-members__heading {
  font-size: 30px;
}

.team-members__text {
  font-size: 20px;
}

.team-members__email-wrapper {
  margin-top: 45px;
}

.team-members__card-outter {
  width: 350px;
  height: 235px;
}

/* LET'S CONNECT STYLES */


.lets-connect__heading {
  font-size: 30px;
}

.lets-connect__sub-heading {
  width: 75%;
}

.control-input {
  width: 310px;
}

.lets-connect__submit-btn {
  width: 200px;
}

/* FOOTER STYLES */

footer {
  width: 100%;
}

.social-network-contacts i {
  font-size: 23px;
}
