.nav-link {
  position: relative;
}

.nav-li:hover .nav-link::before {
  animation-name: "top-nav-underscore";
  animation-direction: normal;
}

.nav-link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  bottom: -6px;
  opacity: 0;
  animation-duration: 800ms;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  transition: 0.6ms;
}

@keyframes top-nav-underscore {
  0% {
    opacity: 0;
    width: 0%;
  }

  100% {
    opacity: 1;
    width: 100%;
    
  }
}
